body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d31616;
    text-align: center;
    margin-top: 40px;
}

p {
    color: #555;
    text-align: center;
}

footer {
    background-color: #ca1717;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.brain-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.brain-image {
    width: 200px;
    height: auto;
    display: block;
}

.container-right {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #ccc;
}
